.wrapper{
    display:flex;
    height: 100vh;
    width: 100vh;
    align-items: center;
    justify-content: center;
}

.btn-selector{
    padding: 10px 20px;
    margin-bottom: 10px;
}

.accordian{
    width: 500px;
}

.item{
    background: #614101;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.title{
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.content{
    color: white;
    height: auto;
}